div{
	background-color: #b3b3b3;
	color: #ffffff;
	box-sizing: border-box;
	width: 28%;
	display: grid;
	height: 301px;
	margin: 0 auto;
	border: 3px solid #000000;
	padding: 10px;
	margin: 5px;
	margin-top: 50px;
	display: inline-block;
	overflow: visible;
	font-family: arial;

}

h2{
	text-align: center;
	background-color: red;
	box-sizing: border-box 30px;
	border: 2px solid #000;
	width: 70%;
	margin-bottom: -6px;
	float: right;
	margin-right: -11px;
	color: #000;
	margin-top: auto;
}
p{
	color: #000;
	font-weight: bold;
	font-size: 100%;
	margin-top: 50px;
}
section {
	margin-left: 20px;
    

}
h1{
	text-align: center;
}
.content{
	width: 380px;
  float: left;
}
